<aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu">
                  <li class="active">
                      <a class="" href="/">
                          <i class="icon_house_alt"></i>
                          <span>《人民日报》速览</span>
                      </a>
                  </li>
				  <li class="sub-menu">
                      <a href="javascript:;" class="">
                          <i class="icon_document_alt"></i>
                          <span>分类汇总</span>
                          <span class="menu-arrow arrow_carrot-right"></span>
                      </a>
                      <ul class="sub">
                          <li><a class="" href="/column/keynews">要闻</a></li>
                          <li><a class="" href="/column/theme">专题</a></li>
                          <li><a class="" href="/column/global">国际</a></li>
                          <li><a class="" href="/column/laws">法治</a></li>
                          <li><a class="" href="/column/social">社会</a></li>
                      </ul>
                  </li>
                  <li>
                      <a class="" href="/net">
                          <i class="icon_genius"></i>
                          <span>知识图谱</span>
                      </a>
                  </li>
              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>